In [140]:
import pandas as pd
import re
import numpy as np

In [141]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [142]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [144]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [145]:
for count in df.columns:
    print(df[count].value_counts())

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64

In [146]:
df.drop(columns =['area_type','availability','society','balcony'], inplace= True)

In [147]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [148]:
df['location'] = df['location'].fillna('Whitefield')

In [149]:
df['size'] = df['size'].fillna('2 BHK')

In [150]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [151]:
df.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [152]:
df['BHK'] = df['size'].str.split().str[0].astype('int')

In [153]:
df

                       location       size total_sqft  bath   price  BHK
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13320 rows x 6 columns]

In [154]:
df[df['BHK'] >= 20]

                       location        size total_sqft  bath  price  BHK
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [155]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [156]:
def sqft(x):
    if '-' in x:          
        y = float(x.split('-')[0])
        z = float(x.split('-')[1])
        return round((y+z)/2)
    else:
        return x.strip()

In [157]:
df[df['total_sqft'] == '1133 - 1384']

      location   size   total_sqft  bath   price  BHK
13265    Hoodi  2 BHK  1133 - 1384   2.0  59.135    2

In [158]:
df['total_sqft'] = df['total_sqft'].apply(sqft)

In [159]:
df[df['location'] == 'Kengeri']

      location       size      total_sqft  bath   price  BHK
20     Kengeri      1 BHK             600   1.0   15.00    1
96     Kengeri  4 Bedroom            2894   4.0  245.00    4
116    Kengeri      3 BHK            1540   2.0   64.00    3
384    Kengeri      2 BHK            1000   2.0   25.00    2
410    Kengeri      1 BHK  34.46Sq. Meter   1.0   18.50    1
...        ...        ...             ...   ...     ...  ...
11425  Kengeri      1 BHK             416   1.0   17.19    1
11526  Kengeri      2 BHK            1320   2.0   50.00    2
11900  Kengeri      2 BHK            1160   2.0   40.60    2
11912  Kengeri  5 Bedroom            2500   4.0  100.00    5
11958  Kengeri      1 BHK             550   1.0   16.75    1

[73 rows x 6 columns]

In [160]:
def charac(x):
    try:         
        y = re.split('([A-Z]+)', x)[0]
        return y
    except:
        return x

In [161]:
df['total_sqft'] = df['total_sqft'].apply(charac)

In [162]:
df['total_sqft'] = df['total_sqft'].astype('float')

In [163]:
df.dtypes

location       object
size           object
total_sqft    float64
bath          float64
price         float64
BHK             int32
dtype: object

In [164]:
df['price_per_sqft'] = (df['price'] * 100000) / df['total_sqft']

In [165]:
df

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [166]:
df['location'].value_counts()

Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [167]:
df['location'] = df['location'].apply(lambda x:x.strip())
df['location'].value_counts()

Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [168]:
location_value_counts = df['location'].value_counts()
location_value_counts[location_value_counts <= 10]

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: location, Length: 1053, dtype: int64

In [169]:
location_count_less_than_10 = location_value_counts[location_value_counts <= 10]

In [170]:
df['location'] = df['location'].apply(lambda x : 'Other' if x in location_count_less_than_10 else x)

In [171]:
df['location'].value_counts()

Other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [172]:
(df['total_sqft']/df['BHK']).describe()

count    13320.000000
mean       573.602804
std        388.596441
min          0.250000
25%        472.500000
50%        551.833333
75%        625.000000
max      26136.000000
dtype: float64

In [173]:
df = df[(df['total_sqft']/df['BHK']) >= 300]

In [174]:
df.shape

(12538, 7)

In [175]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  12538.000000  12538.000000  12538.000000  12538.000000    12538.000000
mean    1594.852939      2.560217    111.390611      2.651460     6303.775761
std     1261.221857      1.079405    152.041719      0.978385     4161.150487
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [176]:
def price_per_sqft_outlier_detection(data:pd.DataFrame):
    output_df = pd.DataFrame()
    for i, j in df.groupby('location'):
        x = j.price_per_sqft.mean()
        y = j.price_per_sqft.std()
        gen_df = j[(j.price_per_sqft > (x - y)) & (j.price_per_sqft <= (x + y))]
        output_df = output_df.append(gen_df,ignore_index = True)
    return output_df
df = price_per_sqft_outlier_detection(df)

In [177]:
df.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  10358.000000  10358.000000  10358.000000  10358.000000    10358.000000
mean    1509.061655      2.473450     91.372831      2.576366     5661.001380
std      880.163731      0.982624     86.423870      0.900854     2270.768931
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1109.250000      2.000000     49.000000      2.000000     4240.695885
50%     1286.000000      2.000000     67.000000      2.000000     5175.519668
75%     1650.000000      3.000000    100.000000      3.000000     6431.808627
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [178]:
def bhk_outlier_detection(data:pd.DataFrame):
    exclude_indices = np.array([])
    for i,j in df.groupby('location'):
        bhk_stats = {}
        for a,b in j.groupby('BHK'):
            bhk_stats[a] = {
                'mean': b.price_per_sqft.mean(),
                'std': b.price_per_sqft.std(),
                'count': b.shape[0]
            }
        for a,b in j.groupby('BHK'):
            stats = bhk_stats.get(a-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, b[b.price_per_sqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [179]:
df = bhk_outlier_detection(df)

In [180]:
df.shape

(7416, 7)

In [181]:
df.drop(['size','price_per_sqft'],inplace=True,axis=1)

In [182]:
df

                  location  total_sqft  bath  price  BHK
0      1st Block Jayanagar      2850.0   4.0  428.0    4
1      1st Block Jayanagar      1630.0   3.0  194.0    3
2      1st Block Jayanagar      1875.0   2.0  235.0    3
3      1st Block Jayanagar      1200.0   2.0  130.0    3
4      1st Block Jayanagar      1235.0   2.0  148.0    2
...                    ...         ...   ...    ...  ...
10347         Yeshwanthpur      1195.0   2.0  100.0    2
10348         Yeshwanthpur      1692.0   3.0  108.0    3
10350         Yeshwanthpur      2500.0   5.0  185.0    6
10355         Yeshwanthpur      1855.0   3.0  135.0    3
10356         Yeshwanthpur      1876.0   3.0  160.0    3

[7416 rows x 5 columns]

In [183]:
df.to_csv('Cleaned_data.csv')

In [184]:
X = df.drop('price',axis=1)
y = df['price']

In [206]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
import pickle

In [186]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [187]:
X_train.shape, X_test.shape

((5932, 4), (1484, 4))

In [188]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']), remainder='passthrough')

In [189]:
scaler = StandardScaler()

In [190]:
lr = LinearRegression(normalize = True)

In [191]:
pipe = make_pipeline(column_trans, scaler, lr)

In [192]:
pipe.fit(X_train, y_train)

C:\Users\sheth\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [193]:
y_pred_lr = pipe.predict(X_test)

In [194]:
r2_score(y_test, y_pred_lr)

0.7884776818054934

In [195]:
lasso = Lasso()

In [196]:
pipe_lasso = make_pipeline(column_trans, scaler, lasso)

In [197]:
pipe_lasso.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [201]:
y_lasso = pipe.predict(X_test)
r2_score(y_test, y_lasso)

0.7884776818054934

In [202]:
ridge = Ridge()

In [203]:
pipe_ridge = make_pipeline(column_trans, scaler, ridge)

In [204]:
pipe_ridge.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [205]:
y_ridge = pipe_ridge.predict(X_test)
r2_score(y_test, y_ridge)

0.7885823541820544

In [207]:
pickle.dump(pipe_ridge, open('RidgeModel.pickle', 'wb'))